/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
/* require_self
/* require_tree .
*/
@import "jquery-ui";
@import "rails_bootstrap_forms";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "datepicker";

h1 small,h1 .small, .h1 small,.h1 .small,h2 small,
h2 .small, .h2 small,.h2 .small,h3 small,
h3 .small, .h3 small,.h3 .small {
  font-size: 45%;
}
h1, .h1 {
  font-size: 26px;
}

h2, .h2 {
  font-size: 24px;
}

h3, .h3 {
  font-size: 20px;
}

label {
    margin-right: 10px;
    
}
* {
margin: 0;
}
html, body {
height: 100%;
}
.wrapper {
min-height: 100%;
height: auto !important;
height: 100%;
margin: 0 auto -4em;
}
.myfooter {
height: 4em;
}

.links tr {display: table-row-group; vertical-align: middle; border-color: inherit;}
.links tr .form-group {margin: 10px;}
.links tr .form-control {display: block;}

a:hover {
  color: black;
  /*background-color: #000;*/
}

#notice {
    display: none;
}


.ui-autocomplete {
    background-clip: padding-box;
    background-color: #ffffff;
    border-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    display: none;
    float: left;
    left: 0;
    list-style: outside none none;
    margin: 2px 0 0;
    min-width: 160px;
    padding: 4px 0;
    position: absolute;
    top: 100%;
    z-index: 1000;
}
.ui-autocomplete .ui-menu-item > a.ui-corner-all {
    clear: both;
    color: #555555;
    display: block;
    font-weight: normal;
    line-height: 18px;
    padding: 3px 15px;
    white-space: nowrap;
}
.ui-widget-content .ui-state-focus {
    background-color: #0088cc;
    background-image: none;
    border-radius: 0;
    color: #ffffff;
    text-decoration: none;
}
.ui-helper-hidden-accessible { display:none; }