<div class="col-md-12">
<h1>Editing Client</h1>

<%= render 'form' %>
<!--<div class="col-md-12" style="margin-top:20px;">
<%= link_to 'Show', @client %> |
<%= link_to 'Back', clients_path %>
</div>-->
</div>