<%= form_for(@emag) do |f| %>
  <% if @emag.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@emag.errors.count, "error") %> prohibited this emag from being saved:</h2>

      <ul>
      <% @emag.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
