<!-- Модальное окно для создания компании из раздела Клиент -->
<style type="text/css">
#companies_show {display:none;}
#companies_back  {display:none;}
</style>
<div class="modal-header">
<strong>New Company</strong>
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
</div>
<div class="modal-body">

<%= render 'form' %>

<button class="btn" data-dismiss="modal" aria-hidden="true" >Close</button>
</div>
	</div>


