// Place all the styles related to the Iorders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*.links tr {display: table-row-group; vertical-align: middle; border-color: inherit;}
.links tr .form-group {margin: 10px;}
.links tr .form-control {display: block;}*/

